body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background:
        radial-gradient(circle, rgba(0,0,0,0) 25%, rgba(0,0,0,.66) 100%),
        url('images/blackjack-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

button, a {
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
}

.opening-screen-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    max-width: 480px;
}

.btn{
    background: #0dbbe0;
    background: linear-gradient(to bottom, #0dbbe0, #0283ab);
    border: none;
    border-radius: 5px;
    padding: 1rem 4rem;
    color: #fff;
    font-size: 1.75rem;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
}

.btn:hover{
    background: linear-gradient(to bottom, #04b0d8, #037b96);
}

.btn-start-game{
    margin-top: 5rem;
}

.btn-cash-out{
    display: block;
    max-width: max-content;
    text-align: left;
    font-size: 1.75rem;
    padding-top: 1.25rem;
    box-shadow: none;
    color: #3ab84c;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-cash-out:hover{
    background: none;
    color: #289c3b;
}

.cash-out-icon{
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0.10rem .75rem;
    border: 3px solid;
    border-radius: 50%;
}

.btn-deal{
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    margin-left: 10vw;
}

.balance {
    font-size: 1.75rem;
    max-width: max-content;
    background: #123650;
    padding: 1rem 1.5rem;
    border-radius: 10px 10px 0 0;
}

.funds {
    max-width: 60%;
    bottom: 0;
    position: absolute;
}

.chips {
    background: #123650;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 0 10px 0 0 ;
}

.chip {
    height: 15vh;
    width: 15vh;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
}

.chip-unlocked{
    cursor: pointer;
}

.chip-unlocked:hover{
    transform: scale(1.05);
}

.chip-black{
    background: url('./assets/chips/chip-black.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 3px;
}
.chip-blue{
    background: url('./assets/chips/chip-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 3px;
}
.chip-green{
    background: url('./assets/chips/chip-green.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 3px;
}
.chip-gray{
    background: url('./assets/chips/chip-gray.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 3px;
}
.chip-yellow{
    background: url('./assets/chips/chip-yellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 3px 3px;
}

.chip-red{
    background: url('./assets/chips/chip-red.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 3px;
}

.chip-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-bet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    max-width: max-content;
    margin: 1rem auto;
    display: flex;
    align-items: center;
}

.cards{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playerCards,
.dealerCards
{
    display: flex;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
}

.playing-card{
    max-width: 20vh;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.18);
}

.playing-card + .playing-card{
    margin-left: -9rem;
}

.btn-game-action{
    background: linear-gradient(to bottom, #36c14a, #23a61a);
    padding: 0;
    width: 12vw;
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-game-action:hover{
    background: linear-gradient(to bottom, #1ab22c, #0d8607);
}

.btn-double{
    flex-direction: column;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    text-align: center;
    padding: 0;
}

.btn-double span.top-text{
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1;
}

.btn-double span.bottom-text{
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
}

.game-action-buttons{
    display: flex;
    justify-content: center;
}

.game-actions{
    width: 100%;
}

.game-actions .chip-container{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%); 
    display: flex;
    align-items: center;
}

.btn-game-action img {
    max-width: 2rem;
    margin-right: 1rem;
    filter: invert(100%);
}

.current-bet-amount{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-left: .5rem;
}

.chip-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container{
    display: flex;
}

.sum-of-cards{
    position: absolute;
    right: 7vw;
    display: flex;
    align-items: center;
}

.sum-of-cards-number{
    font-size: 2.25rem;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    background: rgba(0,0,0, 0.18);
}

.sum-of-cards-label{
    margin-left: .5rem;
    color: #33bc3b;
    font-size: 1.5rem;
    font-weight: 500;
}

@keyframes messageScale {
    0% {
      transform: translate(-50%, 0) scale(0);
    }
    100% {
      transform: translate(-50%, 0) scale(1);
    }
}

@keyframes delayedmessageScale {
    0% {
        transform: translate(-50%, 0) scale(0);
    }
    50% {
        transform: translate(-50%, 0) scale(0);
    }
    100% {
        transform: translate(-50%, 0) scale(1);
    }
}

.message{
    max-width: 600px;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    animation: 1s ease-out 0s messageScale;
}

.message-delayed{
    animation: 2s ease-out 0s delayedmessageScale;
}

.message-ribbon {
    max-width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    z-index: 2;
}

.message-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, .75rem);
    font-weight: 700;
    font-size: 2.25rem;
    z-index: 100;
}



.game-actions-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

